<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Newsie News</title>
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script> 
    {{!-- link to front end js file --}}
    <script src="/main.js"></script> 
    {{!-- css link --}}
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/saved">Saved</a>
        <button class="navbar-brand btn btn-light text-dark" id="scrapeBtn">Get More Articles!</button>

    </nav>
    <div class="container mx-auto">
        {{{ body }}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>