body{
    background-color: rgba(0, 0, 0, 0.507);
    /* rgba(100, 89, 89, 0.932); */
    color:black;
}

.saveBtn{
    background-color: rgb(46, 46, 116);
    border-style: none;
    color: ghostwhite
}


.deleteArticle,
.deleteCommBtn{
    background-color: firebrick;
    color: ghostwhite
}

.commentsBtn{
    background-color: rgb(32, 129, 129);
    color: ghostwhite
}